* {
  color: #25171a;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
}

body {
  padding: 20px;
  max-width: 675px;
  margin: 50px auto;
}

body.resume {
  max-width: 685px;
}

h1 {
  font-family: "Chela One";
}

p {
  font-size: 20px;
}

@media (max-width: 480px) {
  p {
    font-size: 19px;
    margin: 20px auto;
    max-width: 335px;
  }
}

::selection {
  background: #fff0f0;
}
::-moz-selection {
  background: #fff0f0;
}

p a,
.resume-experience a {
  border-bottom: 1px dashed #bbb;
}

p a:hover,
.resume-experience a:hover {
  border-bottom: 1px solid #832161;
  color: #832161;
}

a,
span {
  color: #889;
  font-weight: 400;
  text-decoration: none;

  /*for fade effect on hover*/
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
span:focus {
  outline: none;
}

.resume-experience a {
  color: initial;
}

.fa {
  padding: 2px;
}

.footer__icon-links {
  font-size: 25px;
}

.footer__icon-links a {
  display: inline-block;
}

.fa:hover {
  color: #832161;
}

.resume h1,
.resume h2,
.resume p,
.resume li {
  text-align: left;
}

.resume h1 {
  display: inline-block;
  float: left;
  margin: 0 0 10px;
}

.resume strong {
  font-weight: 400;
}

.resume-header {
  height: auto;
  overflow: auto;
}

.resume .contact-info {
  display: inline-block;
  float: right;
}

.resume .contact-info a {
  font-size: 25px;
  vertical-align: middle;
}

.resume ul {
  list-style: none;
  padding-left: 15px;
}

.resume li > ul {
  list-style: circle;
  padding-left: 40px;
}

.resume-experience li > ul {
  padding-bottom: 20px;
}

.resume li > span {
  color: unset;
  font-size: 14px;
  font-weight: unset;
}

@media (max-width: 480px) {
  .resume ul {
    padding-left: 0;
  }
}

@media (max-width: 700px) {
  .resume li > span {
    display: block;
    text-align: left;
  }
}

@media (min-width: 701px) {
  .resume li > span {
    float: right;
  }
}
